<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../main.css">
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.js"></script>
    <div class="nav">
      <div>
        <p>Basics</p>
        <a href="file:///Users/humdrum/Desktop/angular-app/index.html">Index</a>
        <a href="file:///Users/humdrum/Desktop/angular-app/two_way_bindings/two_way_bindings.html">Two Way Bindings</a>
        <a href="file:///Users/humdrum/Desktop/angular-app/binding_css_classes/binding_css_classes.html">Binding CSS Classes</a>
        <a href="file:///Users/humdrum/Desktop/angular-app/repeaters/repeaters.html">Repeaters</a>
        <a href="file:///Users/humdrum/Desktop/angular-app/visibility/visibility.html">Visibilty</a>
      </div>
      <div>
        <p>Services</p>
        <a href="file:///Users/humdrum/Desktop/angular-app/services/value/value.html">Value</a>
        <a href="file:///Users/humdrum/Desktop/angular-app/services/factory/factory.html">Factory</a>
        <a href="file:///Users/humdrum/Desktop/angular-app/services/service/service.html">Service</a>
        <a href="file:///Users/humdrum/Desktop/angular-app/services/provider/provider.html">Provider</a>
        <a href="file:///Users/humdrum/Desktop/angular-app/services/constant/constant.html">Constant</a>
      </div>
      <div>
        <p>Enriching Application</p>
        <a href="file:///Users/humdrum/Desktop/angular-app/enriching_application/ajax_with_resource/ajax_with_resource.html">Ajax with $resource</a>
        <a href="file:///Users/humdrum/Desktop/angular-app/enriching_application/data_validation/data_validation.html">Data Validation</a>
        <a href="file:///Users/humdrum/Desktop/angular-app/enriching_application/filters/filters.html">Filters</a>
        <a href="file:///Users/humdrum/Desktop/angular-app/enriching_application/watch/watch.html">Watch</a>
      </div>
    </div>
    <div ng-app="ajax_with_resource" ng-controller="ajax_with_resource_ctl">
      <button ng-click="getUser()">Get User</button>
	    Name: <input ng-model="user.name" />
	    Email: <input ng-model="user.email" />
	    <button ng-click="postUser()">Post User</button>
    </div>

    <script src="ajax_with_resource.js"></script>

  </body>
</html>
